<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.dcm4che.jdbc.prefs">
    <resources>
        <resource-root path="dcm4che-jdbc-prefs-${version}.jar"/>
    </resources>

    <dependencies>
        <module name="org.apache.log4j"/>
        <module name="javax.api"/>
        <module name="com.oracle.ojdbc6"/>
    </dependencies>
</module>
